@model WebsiteDuLich.Models.DonTour

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Xóa</h2>

<h3>Bạn có chắc chắn muỗn xóa?</h3>
<div>
    <h4>Dơn tour</h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.Nguoidung.Hoten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nguoidung.Hoten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ngaydat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngaydat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tinhtrang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tinhtrang)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> <br /><br />
            @Html.Raw(@Html.ActionLink("[replacetext]", "Index").ToHtmlString().Replace("[replacetext]", " <img src=\"/images/images/icons8-back-arrow-96.png\" height=\"45\">"))
        </div>
    }
</div>
