
@using WebsiteDuLich.Models
@model LoginModel

@{ ViewBag.Title = "Dangnhap";

}

<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- For google icons  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

    <link href="~/Content/login.css" rel="stylesheet" />
    <title>Đăng Nhập</title>

</head>

<body>
    <div class="background"></div>
    <div class="container">
        <h2>ĐĂNG NHẬP</h2>
        @using (Html.BeginForm("Dangnhap", "User", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-item">
                <span class="material-icons-outlined">
                    account_circle
                </span>
                @Html.EditorFor(model => model.userMail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.userMail, "", new { @class = "text-danger" })
            </div>

            <div class="form-item">
                <span class="material-icons-outlined">
                    lock
                </span>
                @Html.EditorFor(model => model.password, new { htmlAttributes = new { type = "Password", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
            </div>

            <button type="submit">ĐĂNG NHẬP</button>

            <p>@Html.ActionLink("Đăng ký tài khoản?", "DangKy")</p>



        }
        <div id="socialLoginForm" style="margin-left:45px">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </div>

        @ViewBag.Fail
        <div>
            @using (Html.BeginForm("Index", "tour", new { @class = "" }))
            {
                <input type="submit" value="Trở lại" />
            }
        </div>
    </div>
</body>

</html>