@model IEnumerable<WebsiteDuLich.Models.TinTuc>
<head>
    <style>
        p.test2 {
            white-space: nowrap;
            width: 280px;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 15px;
        }
    </style>
</head>
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-3 pb-3">
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">TIN TỨC</h6>
            <h1>Tin tức điểm du lịch mới nhất</h1>
        </div>
        <div class="row pb-3">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 mb-4 pb-2">
                    <div class="blog-item">
                        <div class="position-relative">
                            <img class="img-fluid w-100" src="@item.AnhTieuDe" alt="">
                            <div class="blog-date">
                                <h6 class="font-weight-bold mb-n1">@item.TgDang.ToString("MM")</h6>
                                <small class="text-white text-uppercase">@item.TgDang.ToString("yyyy")</small>
                            </div>
                        </div>
                        <div class="bg-white p-4">
                            <div class="d-flex mb-2">
                                <a class="text-primary text-uppercase text-decoration-none" href="@Url.Action("Details", "tinTuc", new { id=item.Id })">@item.TieuDe</a>
                            </div>
                            <a class="text-primary text-uppercase text-decoration-none" href="@Url.Action("Details", "tinTuc", new { id=item.Id })" style="font-size:11px; margin-top:12px; text-align:right">@item.NguoiDang</a>
                            <span class="text-primary px-2" style="text-align:right">|</span>
                            <a class="text-primary text-uppercase text-decoration-none" href="" style="font-size: 11px; margin-top: 12px; text-align: right">@item.TgDang.ToString("dd/MM/yyyy")</a>
                            <br /><br />
                            <a class="h5 m-0 text-decoration-none" href="@Url.Action("Details", "tinTuc", new { id=item.Id })">
                                <p class="test2">
                                    @item.MoTa
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>