
@{
    ViewBag.Title = "TourTheoDanhMuc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<WebsiteDuLich.Models.Tour>
<div class="container-fluid py-3">
    <div class="container pt-3 pb-3">
        <div class="text-center mb-3 pb-3">
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Đặt tour</h6>
            <h1>TOUR DU LICH</h1>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6  mb-3 " style="list-style-type: none;">
                    <div class="package-item bg-white mb-2">
                        <img class="img-fluid" src="@item.HinhAnhTour" alt="Ảnh đại diện" style="min-width: 330px; max-width: 340px; max-height: 169px ">
                        <div class="p-4">
                            <div class="d-flex justify-content-between mb-3">
                                <small class="m-0"><i class="fa fa-calendar-alt text-primary mr-2"></i>@item.NgayDang.ToString("dd/MM/yyyy")</small>
                                <small>
                                    <i style="color:red">Giảm </i>
                                    <small class="donvi m-0">
                                        @item.GiamGia
                                    </small>
                                    <u>đ</u>
                                </small>

                            </div>
                            <a class="h5 text-decoration-none" href="@Url.Action("Details", "tour", new { id=item.Id })">@item.TenTour</a>

                            <a class="h7 text-decoration-none" href="@Url.Action("Details", "tour", new { id=item.Id })">@Html.Raw(item.LichTrinh)</a>
                            <div class="border-top mt-4 pt-3">
                                <div style="font-size:12px">
                                    <del class="donvi">@item.GiaChuaKM</del>
                                    <u>đ</u>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <span style="color:red">
                                        <span class="m-0 donvi">@item.Giaban</span>
                                        <u>đ</u>
                                    </span>

                                    <div class="DatMua">
                                        <a class="btn btn-success" href="@Url.Action("ThemDatTour", "datTour", new { @id = item.Id, @strURL = Request.Url.ToString() })">
                                            Đặt Tour
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script src="~/Scripts/donvitien.js"></script>