@model WebsiteDuLich.Models.Footer

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/ad_Layout.cshtml";
}
<script src="~/ckeditor/ckeditor.js"></script>

<h2>Sửa</h2>

@using (Html.BeginForm("Edit", "Footers", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Footer</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Logo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="img" id="img" accept=".jpg,.png,.gif,.jpeg,.bmp" />
                @Html.ValidationMessageFor(model => model.Logo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NoiDung, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.NoiDung, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NoiDung, "", new { @class = "text-danger" })
            </div>
            @section Scripts{

                <script>
                    CKEDITOR.replace("NoiDung");
                    CKEDITOR.config.language = "vi";
                    CKEDITOR.config.htmlEncodeOutput = false;
                </script>
            }
            @*<textarea class="ckeditor" id="NoiDung"></textarea>*@

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.Raw(@Html.ActionLink("[replacetext]", "Index").ToHtmlString().Replace("[replacetext]", " <img src=\"/images/images/icons8-back-arrow-96.png\" height=\"45\">"))
</div>
