@model WebsiteDuLich.Models.Nguoidung

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/ad_Layout.cshtml";
}

<h2>Chi tiết</h2>

<div>
    <h4>Người dùng</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PhanQuyen.TenQuyen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhanQuyen.TenQuyen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hoten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hoten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dienthoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dienthoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Matkhau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Matkhau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diachi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diachi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MaNguoiDung }) <br />
    @Html.Raw(@Html.ActionLink("[replacetext]", "Index").ToHtmlString().Replace("[replacetext]", " <img src=\"/images/images/icons8-back-arrow-96.png\" height=\"45\">"))
</p>
